* {
	margin:0;
	box-sizing: border-box;
}

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
	padding: 70px 0 0;
  display: flex; /* Desde aquí hasta min-height: 100vh es para que el footer se vaya hasta abajo y no sé mueva. En el footer también se le colocó la propiedad margin-top:auto*/
  flex-direction: column;
  min-height: 100vh;/* Aquí termina la solución para hacer que el footer se vaya hasta abajo*/
}

/* Header and Nav -- Start */
.header {
	background-color: #fff;
	height: 70px;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}

.nav {
	display: flex;
	justify-content: left;
  max-width: 992px;
}

.nav--link {
	color: #2F2A32;
	text-decoration: none;
  position: relative; /* Para que a la hora de hacer la animación se le aplique solo a los links*/
	
}

.logo {
	font-size: 20px;
	font-weight: bold;
	padding: 0 15px 0 62px;
	line-height: 70px; /*Técnica para centrar el logo, poniendole el mismo alto del header que son 70px*/
  border-right: 2px solid #2F2A32;
  
}

.nav-menu {
	display: flex;
	list-style: none;
}

.nav-menu-item {
	font-size: 18px;
	margin: 0 15px;
	line-height: 70px; /*Técnica para centrar el logo, poniendole el mismo alto del header que son 70px*/
	width: max-content; /* En caso de tener 2 palabras en los links NO los cortará a la hora de hacer más pequeña la pantalla*/
}

/*Animación de nav--link*/
ul a::before {
  content: ' ';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #2F2A32;
  transition: 0.3s;
}

ul a:hover::before {
    width: 100%;
}

.nav-toggle {
  color: black;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px; 
  line-height: 60px;
  display: none;
  cursor: pointer;
}
/* Header and Nav -- End */

/* Banner -- Start*/
.banner {
  background: linear-gradient(to right,#AD7EBC, #9BE7EB);
  width: 100%;
  height: 180px;
  display: flex;
  align-items: center;
  padding-left: 55px;
}
.banner h1 {
  font-weight: bold;
  font-size: 42px;
}
/* Banner -- End*/

/* Footer -- Start*/
.footer{
  background-color: #fff;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: first baseline;
  margin-top: auto;
  border-top: 1px solid #8e8d8d;
}

.footer strong {
 color: #AD7EBC;
 font-size: 14px;
 padding-left: 50px;
}

.footer-icons i {
  font-size: 30px;
  color: #AD7EBC;
  cursor: pointer;
  padding: 0 7px;
}

.footer-arrowup i {
  color:#AD7EBC;
  font-size: 50px;
  padding-right: 50px;
  cursor: pointer;
}

.footer i:hover {
  color:#EB94C4;
}

.footer i:active {
  color: #9BE7EB;
}
/*Footer -- End*/

/*Body -- Start*/
.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px;
}

.div-main-informacion {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 20px;
  width: 38%;
  height:fit-content;
  border-left: 4px solid #AD7EBC;
  background-color: #fff;
  box-shadow: 1px 1px 10px #5B5B5B;
  
}
.div-main-informacion h5 {
  width: 100%;
  align-content: baseline;
  font-size: 18px;
  padding: 10px 0 20px;
}

.div-main-informacion p{
  font-size: 14px;
}
.main-first-p{
  width: 25%;
}

.div-main-informacion p:last-child{
  width: 75%;
  text-align: end;
}

.div-main-sobremi {
  width: 60%;
  height:fit-content;
  padding: 0 20px;
  background-color: #fff;
  box-shadow: 1px 1px 10px #5B5B5B;
  display: flex;
  flex-direction: column;
}
.p-main-sobremi-welcome {
  border-bottom: 2px solid #2F2A32;
  padding: 52px 0 20px 0;
}

.p-main-sobremi-personal {
  border-bottom: 2px solid #2F2A32;
  padding-bottom: 10px;
}

.div-main-sobremi-intereses {
  padding: 20px 0 52px 0;
}

.div-main-sobremi-intereses h5{
  padding-bottom: 20px;
}

.grid-intereses {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
  justify-items: center;
}
.grid-intereses div {
  background-color: #ffff;
  text-align: center; /*Alinear la imagen con el texo en intereses*/
  padding-top: 1rem;
  border-radius: 10px;
  width: 115px;
  box-shadow: 0px 5px 10px #b1afaf;
}

.grid-intereses div:hover {
  background:linear-gradient(to bottom,#AD7EBC, #9BE7EB);
  opacity: 0.8;
}
/*Body -- End*/


/******** Responsivo ********/
@media (max-width: 768px) {
  body {
    padding-top: 55px;
  }
  
  /* Header and Nav -- Start */
  .header {
    height: 55px;
  }

  .nav {
    justify-content: space-between;
  }

  .nav-menu-link {
    color: #fff;    
  }
  
  .logo {
    font-size: 18px;
    padding: 0 10px 0 50px;
    line-height: 55px; /*Técnica para centrar el logo, poniendole el mismo alto del header que son 55px*/
  }

  .nav-menu {
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #2F2A32;
    position: fixed;
    left: 0;
    top: 55px;
    width: 100%;
    padding: 20px 0;
    height: calc(100% - 55px); /* Esta linea junto con el overflow me van a ayudar a poner una barra de navegación en caso de que se haga muy pequeño mi nav*/
    overflow-y: auto;
    left: 100%; /* El menú se corre 100% hacia la derecha*/
    transition: left 0.3s;
  }
  
  .nav-menu-item {
    font-size: 15px;
    line-height: 55px; /*Técnica para centrar el logo, poniendole el mismo alto del header que son 70px*/
  }
  
  /*Animación de nav--link - Start*/
  ul a::before {
    background-color: #ffff;
  }
  /*Animación de nav--link - End*/

  .nav-toggle {
    display: block;
  }

  .nav-menu_visible {
    left: 0;
  }

  /* Footer -- Start*/
.footer{
  height: 200px;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;

}

.footer strong {
 padding-left: 0;
}

.footer-arrowup i {
  padding-right: 0;
}
/*Footer -- End*/

/*Body -- Start*/
.main {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 20px;
}

.div-main-informacion {
  padding: 0 10px;
  width: 300px;
  margin: 34px 0;
  
}
.div-main-informacion h5 {
  width: 100%;
  align-content: baseline;
  font-size: 18px;
  padding: 10px 0 20px;
}

.div-main-informacion p{
  font-size: 13px;
}

.div-main-sobremi {
  width: 300px;
}

.div-main-sobremi-intereses h5{
  text-align: center;
}

.grid-intereses {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  align-content:  center;
}
.grid-intereses div {
  background-color: #ffff;
  text-align: center; /*Alinear la imagen con el texo en intereses*/
  padding-top: 1rem;
  border-radius: 10px;
  width: 115px;
  box-shadow: 0px 5px 10px #b1afaf;
}

/*Body -- End*/

}/*@media (max-width: 768px)*/

